Repository Axelvyn/Nexara, pull requests merged in 2025-08, with the labels that each got.

#44 feat: Complete production-ready authentication system with comprehens…
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/login/page.tsx
  frontend/app/signup/page.tsx
  frontend/components.json
  frontend/components/LoginForm.tsx
  frontend/components/SignUpForm.tsx
  frontend/components/ui/ClientOnlyParticles.tsx
  frontend/components/ui/ConfettiCelebration.tsx
  frontend/components/ui/EnhancedBackground.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/label.tsx
  frontend/components/ui/sonner.tsx
  frontend/lib/authService.ts
  frontend/lib/utils.ts
  frontend/lib/validations.ts
  frontend/package-lock.json
  frontend/package.json
Labels: component: frontend, component: dependencies, tech: react, tech: typescript, tech: css, size: XL, tech: nextjs

#45 Landing Page Implementation and Refactor
  frontend/app/landingpage/page.tsx
  frontend/app/landingpage/section/Aboutus.tsx
  frontend/app/landingpage/section/Features.tsx
  frontend/app/landingpage/section/Footer.tsx
  frontend/app/landingpage/section/Navbar.tsx
  frontend/app/landingpage/section/Services&Contact.tsx
  frontend/app/page.tsx
Labels: component: frontend, Admin/mentor, status: work in progress, tech: react, tech: typescript, tech: nextjs, size: S

#48 feat: add professional Zenjira logo assets with transparent backgrounds
  public/assets/logos/logo-horizontal-for-dark-bg.svg
  public/assets/logos/logo-horizontal-for-light-bg.svg
  public/assets/logos/logo-icon-for-dark-bg.svg
  public/assets/logos/logo-icon-for-light-bg.svg
  public/assets/logos/logo-vertical-for-dark-bg.svg
  public/assets/logos/logo-vertical-for-light-bg.svg
  public/assets/logos/preview.html
Labels: size: XL

#49 Delete public/assets/logos/preview.html
  public/assets/logos/preview.html
Labels: size: L

#59 feat: Add back-to-top button using @uiw/react-back-to-top
  frontend/app/layout.tsx
  frontend/components/BackToTopInlineButton.tsx
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Labels: Easy, GSSOC 2025, Level 1, component: frontend, component: dependencies, tech: react, size: M, tech: typescript, tech: nextjs

#69 workflow fix track contribution
  .github/workflows/track-contributions.yml
Labels: component: ci/cd, size: M

#70 test
  test.md
Labels: type: documentation, Level 2, size: XS

#71 Update test.md
  test.md
Labels: Level 1

#73 [Implementation]:Project & Board Module APIs Implementation in backend
  .github/scripts/package.json
  backend/controllers/project.controller.js
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20250815062925_add_projects_boards_columns/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.js
  backend/routes/project.routes.js
  backend/server.js
  backend/services/project.service.js
Labels: Medium, Level 2, component: backend, component: dependencies, size: L, component: ci/cd, component: api, component: database, tech: javascript, tech: nodejs

#77 Fix: Use only GITHUB_TOKEN for contribution tracking workflow
  .github/scripts/fetch-past-contributions.js
  .github/scripts/node_modules/.package-lock.json
  .github/scripts/package-lock.json
  .github/workflows/process-past-contributions.yml
  .github/workflows/simple-auto-approve.yml
  .github/workflows/simple-auto-labeler.yml
  .github/workflows/slash-commands.yml
  .github/workflows/track-contributions.yml
  .gitignore
Labels: component: dependencies, size: L, component: ci/cd, tech: javascript

#76 Feature/dockerize backend postgres
  .gitattributes
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/implementation_task.md
  .github/labeler.yml
  .github/labels.yml
  .github/scripts/fetch-past-contributions.js
  .github/scripts/package.json
  .github/scripts/track-contribution.js
  .github/workflows/auto-assign.yml
  .github/workflows/backend-checks.yml
  .github/workflows/check-pr-labels.yml
  .github/workflows/cmd-approve.yml
  .github/workflows/cmd-check.yml
  .github/workflows/cmd-close.yml
  .github/workflows/cmd-label.yml
  .github/workflows/cmd-lgtm.yml
  .github/workflows/cmd-merge.yml
  .github/workflows/cmd-rerun.yml
  .github/workflows/cmd-review.yml
  .github/workflows/cmd-status.yml
  .github/workflows/code-quality.yml
  .github/workflows/frontend-checks.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-quality-gate.yml
  .github/workflows/pr-size-labeler.yml
  .github/workflows/process-past-contributions.yml
  .github/workflows/simple-auto-approve.yml
  .github/workflows/simple-auto-labeler.yml
  .github/workflows/sync-labels.yml
  .github/workflows/track-contributions.yml
  .github/workflows/welcome-message.yml
  CODE_OF_CONDUCT.md
  COMMUNITY_GUIDELINES.md
  CONTRIBUTORS.md
  README.md
  backend/.dockerignore
  backend/.env.docker
  backend/.env.example
  backend/Dockerfile
  backend/README.md
  backend/docker-compose.yml
  backend/init.sql
  contributors.json
  docs/CONTRIBUTION_TRACKING.md
  test.md
Labels: type: documentation, component: backend, component: dependencies, component: ci/cd, component: database, tech: javascript, tech: nodejs, size: XL
