Repository Axelvyn/Nexara, pull requests merged in 2025-09, with the labels that each got.

#105 Remove Back to Top button
  frontend/app/layout.tsx
  frontend/components/BackToTopInlineButton.tsx
Labels: #OSCI, 1⭐, 10, Beginner, OSCI'25

#114 feat: add Nexara logo variants (light & dark modes)
  README.md
  public/assets/logos/nexara-icon(universal).svg
  public/assets/logos/nexara-logo-dark.png
  public/assets/logos/nexara-logo-horizontal-for-dark-bg.svg
  public/assets/logos/nexara-logo-horizontal-for-light-bg.svg
  public/assets/logos/nexara-logo-light.png
  public/assets/logos/nexara-logo-vertical-for-dark.svg
  public/assets/logos/nexara-logo-vertical-for-light.svg
Labels: documentation, other

#115 Update README.md
  README.md
Labels: documentation, other

#117 Connect Signup and Login
  README.md
  backend/.env.example
  backend/controllers/authController.js
  backend/middleware/validation.js
  backend/package-lock.json
  backend/package.json
  backend/prisma/schema.prisma
  backend/prisma/seed.js
  backend/routes/auth.js
  backend/services/emailService.js
  backend/services/tempUserStorage.js
  frontend/app/api/auth/check-email/[email]/route.ts
  frontend/app/api/auth/check-username/[username]/route.ts
  frontend/app/api/auth/login/route.ts
  frontend/app/api/auth/logout/route.ts
  frontend/app/api/auth/me/route.ts
  frontend/app/api/auth/register/route.ts
  frontend/app/api/auth/resend-otp/route.ts
  frontend/app/api/auth/verify-email/route.ts
  frontend/app/landingpage/page.tsx
  frontend/app/login/page.tsx
  frontend/app/signup/page.tsx
  frontend/app/userdashboard/page.tsx
  frontend/app/verify-email/page.tsx
  frontend/lib/api.ts
  frontend/lib/auth.ts
Labels: backend, api, database, auth, documentation, dependencies, security, other, frontend, pages, lib

#120 fixed infinite rendering issue
  frontend/app/projects/[id]/page.tsx
  frontend/app/projects/page.tsx
  frontend/app/userdashboard/page.tsx
Labels: frontend, pages
