Repository Axelvyn/Nexara, pull requests merged in 2025-07, with the labels that each got.

#10 feat(footer): Responsive, accessible footer with navigation and social icon
  frontend/components/Footer.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: Frontend

#21 Fixes Page.tsx
  frontend/app/page.tsx
Labels: component: frontend, size: XS, tech: react, tech: typescript, tech: nextjs

#27 fixed module errors
  frontend/.prettierrc
  frontend/__tests__/Features.test.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components.json
  frontend/components/FeatureCard.tsx
  frontend/components/Features.tsx
  frontend/components/Footer.tsx
  frontend/eslint.config.js
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/test-setup.ts
  frontend/types/features.ts
  frontend/vitest.config.ts
Labels: component: frontend, component: dependencies, tech: react, tech: typescript, tech: javascript, tech: css, size: XL, tech: nextjs

#30 Fixes
  .github/workflows/update-contributors.yml
Labels: component: ci/cd

#36 feat: implement JWT authentication system
  backend/.env.example
  backend/.gitignore
  backend/.prettierignore
  backend/.prettierrc
  backend/config/database.js
  backend/config/env.js
  backend/controllers/auth.controller.js
  backend/middleware/authMiddleware.js
  backend/middleware/errorHandler.js
  backend/middleware/validation.js
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20250730122002_initial_setup/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/prisma/schema.prisma
  backend/prisma/seed.js
  backend/routes/auth.routes.js
  backend/server.js
  backend/services/auth.service.js
  backend/utils/jwt.js
  backend/utils/password.js
Labels: Hard, GSSOC 2025, Level 3, component: backend, component: dependencies, component: api, component: database, tech: javascript, tech: nodejs, size: XL

#35 feat(navbar) - add navbar component
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/Features.tsx
  frontend/components/NavBar.tsx
  frontend/components/ui/popover.tsx
  frontend/components/ui/utils.ts
  frontend/package-lock.json
  frontend/package.json
Labels: Easy, GSSOC 2025, Level 1, component: frontend, component: dependencies, tech: react, tech: typescript, size: XL, tech: nextjs
